body{
    background-color: black;
}
.box{
    background-color: #ffff;
    border: 1px solid;
    position: relative;
    width: 800px;
    height: 800px;
    margin: 0 auto;
}
.red{
    position: absolute;
    border: 1px solid;
    background-color:red;
    top: 350px;
    left: 350px;
    width: 100px;
    height: 100px;
}